certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dask==2024.7.0
dill==0.3.8
docstring-inheritance==2.2.0
fonttools==4.53.1
fsspec==2024.6.1
idna==3.7
kiwisolver==1.4.5
locket==1.0.0
matplotlib==3.9.1
mmpycorex==0.3.9
multiprocess==0.70.16
ndstorage==0.1.6
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
partd==1.4.2
pillow==10.4.0
pycsvparser @ git+https://github.com/cabrittin/pycsvparser.git@7a809bb74bd0313d7cd09b7a52e3eca3f9c1d926
pyjavaz==1.2.4
pymmcore==11.1.1.71.2
pyparsing==3.1.2
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyzmq==26.0.3
requests==2.32.3
scipy==1.14.0
six==1.16.0
sortedcontainers==2.4.0
tifffile==2024.7.2
toolz==0.12.1
tqdm==4.66.4
urllib3==2.2.2
wget==3.2
